@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  font-family: 'Montserrat', 'Segoe UI', 'Arial', sans-serif;
}

/* Définir une couleur sur une balise HTML */
h1 {
  color: red;
}

/* Définir une couleur en fonction du frère de mon élément */
h1 + a {
  color: green
}

/* Sélecteur de classe */
.section-intro {
  background-color: aquamarine;
}

/* Sélecteur descendant */
.section-intro p {
  color: darkblue;
  column-count: 3;
  column-gap: 2em;
  column-rule: 1px dotted darkgray;
}

.section-intro p strong {
  color: pink;
}

.section-container {
  margin: 150px 50px;
}

.section-container p {
  border: 2px solid darkcyan;
  padding-inline: 50px;
  padding-block: 100px;
  text-align: center;
  margin: 0;
}

ul, ol {
  list-style: none;
}

button#mon-bouton {
  padding: 1.5em;
  background: radial-gradient(circle at 40px 40px, pink 40%, violet 50%);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 4px 3px #666666;
}

button#mon-bouton:hover {
  background: radial-gradient(circle at 40px 40px, violet 40%, pink 50%);;
  color: darkslategray;
  cursor: pointer;
  box-shadow: 0 8px 10px #666666;
}

button#mon-bouton:active::after {
  content: '👌';
}

button#mon-bouton:active {
  background-color: darkcyan;
  color: white;
  font-size: 18px;
}

a[aria-label*='es'] {
  font-size: 40px;
}

table {
  border-collapse: collapse;
}

table td, table th {
  border-bottom: 1px solid red;
  padding: 5px;
}

@media screen and (max-width: 720px) {
  .section-intro p {
    column-count: 2;
    column-gap: 1em;
   }
}