@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Segoe UI', 'Arial', sans-serif;
}

h1, h2 {
  margin: 0;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: black;
}

header#main-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 50px;
  background-color: turquoise;
}

header, header nav, header nav ul, header h1, header nav ul li {
  display: inline-block;
}

.content {
  position: relative;
  margin-top: 50px;
  height: 100%;
}

video#video-background {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header-video {
  width: 100%;
  position: relative;
}

.overlay {
  top: 0; 
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay h1 {
  position: relative;
  /* height: 100%; */
  width: 100%;
  color: white;
  text-align: center;
  top: 40%;
}

.overlay button {
  position: relative;
  top: 40%;
  text-align: center;
  left: 35%;
}
